{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p>
      И я не очень люблю верстать, поэтому вот парочка моих проектов написанных на Flask
    </p>
    <a href="http://t-camp.ru">Т-Парк</a> – парк активного отдыха
    <br>
    <a href="http://rating.nspt.ru">Ассессмент 2.0</a> - закрытая система для оценки участников
    различных спортивных и не только мероприятий, написанная для Т-Парка
  </div>
{% endblock %}