{% extends "card_base.html" %}

{% block title %}Изменить пароль{% endblock %}

{% block card_header %}Изменить пароль{% endblock %}

{% block card_body %}
  <form method="post" action="{% url 'users:password_change_form' %}">
    {% include 'includes/form_body.html' with form=form %}
    <div class="mx-auto d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">
        Изменить пароль
      </button>
      <a href="{% url 'users:password_reset_form' %}" class="btn btn-link">
        Забыли пароль?
      </a>
    </div>
  </form>
{% endblock %}